#main .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

#main .about .heading {
    font-size: 80px;
    font-family: Calibri, sans-serif;
    font-weight: bold;
    margin-bottom: 8px;
}

#main .about .desc {
    font-size: 24px;
    font-family: Calibri, sans-serif;
    margin-bottom: 40px;
}

#main .features {
    margin-top: 200px;
    width: 100%;
}

#main .features .title {
    font-size: 50px;
    font-family: Calibri, sans-serif;
    font-weight: bold;
    margin-bottom: 125px;
    text-align: center;
}

#main .features .items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#main .features .items .item {
    display: flex;
    width: 100%;
    margin: 40px 0;
    align-items: center;
    justify-content: space-evenly;
}

#main .features .items .item:nth-child(odd) {
    flex-direction: row-reverse;
}

#main .features .items .item p {
    padding: 20px;
    background-color: #23272a;
    font-size: 30px;
    border: 1px solid #23272a;
    border-radius: 10px;
}

#main .invite {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
}

#main .invite .text {
    font-size: 24px;
    margin-bottom: 25px;
}

#main .invite .invite_button {
    margin-top: 25px;
}
