@media only screen and (max-width: 800px) {
    #main {
        padding-inline: 0;
        text-align: center;
    }

    #main .terms_of_service .heading {
        font-size: 35px;
    }

    #main .terms_of_service {
        padding: 30px;
    }
    
    #main .tos_section .title {
        font-size: 18px;
    }
    
    #main .tos_section .desc {
        font-size: 16px;
    }
}