a {
    color: red;
    font-weight: bold;
}

#main .terms_of_service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-inline: 100px;
    text-align: justify;
    margin-top: 100px;
    margin-bottom: 75px;
    font-size: 20px;
}

#main .terms_of_service .heading {
    font-size: 50px;
    font-family: Calibri, sans-serif;
    font-weight: bold;
    margin-bottom: 8px;
}

#main .terms_of_service .desc {
    font-size: 20px;
    font-family: Calibri, sans-serif;
    margin-bottom: 40px;
}

#main .tos_sections .tos_section .title {
    font-size: 28px;
}