@media only screen and (max-width: 800px) {
    #main {
        padding-inline: 0;
        text-align: center;
    }

    #main .privacy_policy .heading {
        font-size: 35px;
    }

    #main .privacy_policy {
        padding: 30px;
    }
    
    #main .pp_section .title {
        font-size: 18px;
    }
    
    #main .pp_section .desc {
        font-size: 16px;
    }
}